* {
    box-sizing: border-box;
}

html {
    font-size: 0.85vw;
}

body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.4rem;
    background: #b4c1c9;
}

ul, ol {
    list-style: none;
}

a {
    color: #33bee5;
    text-decoration: none;
    transition: color 0.2s linear;
}

a:hover {
    color: inherit;
}

h1 {
    margin: 1.8rem 0;
}

.wrapper {
    margin: 3.6rem 14.4rem;
    background: #fff;
}

header {
    text-align: center;
    padding: 1.8rem;
    border-bottom: 1px solid #ededed;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-name {
    color: #4e5c64;
    font-size: 3.6rem;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links li {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    background-color: rgba(58, 69, 75, .15);
    transition: all 0.3s linear;
}

.social-links li:hover {
    transition: all 0.2s linear;
}

.social-links .twitter:hover {
    background-color: #3dd7e1;
}

.social-links .linkedin:hover {
    background-color: #0076be;
}

.social-links .facebook:hover {
    background-color: #375db0;
}

.social-links .github:hover {
    background-color: #000;
}

.social-links img {
    width: 100%;
    height: 100%;
}

nav.mobile {
    display: none;
}

nav {
    background: #3a454b;
    margin-top: 1.6rem;
    box-shadow: 0 5px 2px -3px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    flex-grow: 1;
    flex-basis: 0;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 5.5rem;
    color: #fff;
    transition: all 0.3s linear;
}

nav a:hover {
    color: #fff;
    transition: all 0.2s linear;
}

nav a:hover::after {
    display: none;
}

nav li:hover + li a::after {
    display: none;
}

nav li:first-child a:hover, nav li:first-child a.active {
    background: #6cc437;
}

nav li:nth-child(2) a:hover, nav li:nth-child(2) a.active {
    background: #33bee5;
}

nav li:nth-child(3) a:hover, nav li:nth-child(3) a.active {
    background: #e94f4f;
}

nav li:nth-child(4) a:hover, nav li:nth-child(4) a.active {
    background: #48dcb8;
}

nav li:last-child a:hover, nav li:last-child a.active {
    background: #f97a14;
}


nav a::after {
    content: "";
    background: rgba(255, 255, 255, .35);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 50%;
    transition: all 0.2s linear;
}

nav li:first-child a::after {
    display: none;
}

.content {
    display: flex;
}

.about-me {
    width: 75%;
    padding: 0 1.8rem 1.8rem;
    border-right: 1px solid #ededed;
}

.about-me img {
    float: left;
    margin: 1.8rem 1.8rem 1.8rem 0;
}

.blog-posts {
    width: 25%;
    padding: 0 1.8rem 1.8rem;
}

.blog-posts h2 a {
    color: inherit;
}

.blog-posts li {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.blog-posts time {
    font-size: 1.2rem;
}

.blog-list, .contact {
    padding: 0 1.8rem 1.8rem;
    width: 100%;
}

.blog-list article {
    display: flex;
    width: 100%;
}

.blog-list .post-info {
    width: 10rem;
}

.blog-list .post-date {
    background: #3a454b;
    color: #fff;
    width: 100%;
    height: 5rem;
    padding: 0.5rem 1rem;
    margin-top: 0.25rem;
    position: relative;
}

.blog-list .post-category {
    display: block;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    color: #fff;
    transition: all 0.2s linear;
    line-height: 2.5rem;
}

.category-poetry {
    background: #33bee5;
}

.category-poetry:hover {
    background: #2dabce;
}

.category-philosophy {
    background: #e94f4f;
}

.category-philosophy:hover {
    background: #d14747;
}

.category-dev {
    background: #6cc437;
}

.category-dev:hover {
    background: #55992A;
}

.post-date .day {
    display: block;
    line-height: 4rem;
    font-size: 3.4rem;
    font-weight: bold;
}

.post-date .year-month {
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.6rem;
    text-align: right;
}

.post-date .year-month span {
    display: block;
}

.post-date .year-month span:first-child {
    font-size: 1.2rem;
}

.blog-list .post-content {
    margin-left: 4rem;
    margin-bottom: 4rem;
    flex-grow: 1;
}

.post-content h2 {
    margin-top: 0;
    font-weight: normal;
}

.post-content h2 a {
    color: #000;
}

.post-content h2 a:hover {
    color: #33bee5;
}

.post-content ul {
    list-style: initial;
    margin-left: 1em;
}

.post-content .post-navigation {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.contact input, .contact textarea {
    background: #f7f7f8;
    border: 1px solid rgba(0, 0, 0, 0.05);
    outline: none;
    display: block;
    margin: 1rem 0 1.25rem;
    padding: 0.5rem;
    width: 50%;
    transition: all 0.2s linear;
}

.contact textarea {
    width: 75%;
    height: 20rem;
    resize: none;
}

.contact input:focus, .contact textarea:focus {
    background: #33bee5;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: #fff;
}

.contact button {
    background: #33bee5;
    color: #fff;
    padding: 0.5rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    outline: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.contact button:hover {
    background: #f7f7f8;
    color: #000;
}

.ajax-response {
    display: none;
    opacity: 0;
    background: #fff;
    color: #fff;
    height: 3rem;
    line-height: 3rem;
    padding: 0 0.5rem;
    width: 75%;
    margin-bottom: 1rem;
    transition: opacity 1s linear, background 1s linear, color 1s linear;
}

.ajax-response.success, .ajax-response.error, .ajax-response.submitting {
    display: block;
    opacity: 1;
    transition: opacity 1s linear, background 1s linear, color 1s linear;
}

.ajax-response.error {
    background: #e94f4f;
}

.ajax-response.submitting {
    background: #48dcb8;
}

.ajax-response.success {
    background: #6cc437;
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 0.65vw;
    }

    .wrapper {
        margin: 3.6rem 20rem;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 1.7vw;
    }

    .wrapper {
        margin: 3.6rem 3.6rem 0;
    }

    .content {
        display: block;
    }

    .about-me {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #ededed;
    }

    .about-me img {
        margin-top: 0;
    }

    .blog-posts {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 3vw;
    }

    .top-content {
        display: block;
    }

    nav.normal {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    .about-me img {
        width: 100%;
    }

    .post-info {
        display: none;
    }

    .blog-list .post-content {
        margin-left: 0;
    }

    .contact * {
        width: 100% !important;
    }
}