<header>
    <section class="top-content">
        <span class="my-name">@TAGraves</span>
        <ul class="social-links">
        <li class="twitter"><a href="https://twitter.com/tagraves"><img src="/images/twitter.png" alt="Twitter"></a></li>
        <li class="linkedin"><a href="https://www.linkedin.com/in/tommyagraves"><img src="/images/linkedin.png" alt="LinkedIn"></a></li>
        <li class="facebook"><a href="https://www.facebook.com/tommy.graves"><img src="/images/facebook.png" alt="Facebook"></a></li>
        <li class="github"><a href="https://github.com/TAGraves"><img src="/images/github.png" alt="GitHub"></a></li>
        </ul>
    </section>
    <nav>
        <ul>
        <li><a href="#">Dev Blog</a></li>
        <li><a href="#">Poetry</a></li>
        <li><a href="#">Philosophy</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
